@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  /* background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5); */
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 35vh;
  min-height: 220px;
  padding: 20px;
  padding-top: 30px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  /* margin: 0 auto; */
  margin-bottom: 10px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  /* content: '\2713'; */
  content: '';
  position: absolute;
  left: -2px;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url(../assets/svg/play.svg);
  background-size: 15px;
  background-size: cover;
  /* font-weight: 900; */
}

.item-active {
  color: #c5b358;
}

.item-active::before {
  content: '';
  position: absolute;
  left: -2px;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url(../assets/svg/pause.svg);
  background-size: 15px;
  background-size: cover;
}

/* .item-active::before {
  color: #c5b358;
} */

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: 0.5s;
}

.weather_invisible {
  opacity: 0;
  transform: scale(1, 0);
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: 0.5s;
}

.time_invisible {
  opacity: 0;
  transform: scaleX(-1);
  cursor: default;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.date_invisible {
  opacity: 0;
  transform: translateY(20px);
  cursor: default;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: 0.5s;
}

.greeting-container_invisible {
  opacity: 0;
  transform: scale(0, 0);
  cursor: default;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 25vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote-block {
  transition: 0.5s;
}

.quote-block_invisible {
  opacity: 0;
  transform: scaleZ(0);
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

/* ///////////////////////////// */

.progress__container {
  width: 100%;
  height: 8px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
}

.progress {
  background-color: #c5b358;
  height: 100%;
  width: 0%;
}

.player__title {
  width: fit-content;
  margin: 10px 0;
}

.player__timer {
  margin-bottom: 15px;
}

.player {
  position: relative;
  transform: scaleY(1);
  opacity: 1;
  transition: opacity 0.3s, transform 0.5s;
}

.player_invisible {
  transform: scaleY(0);
  opacity: 0;
}

.player__volume {
  position: absolute;
  top: 4%;
  left: 85%;
  display: flex;
  text-align: center;
  gap: 5px;
}

.player__sound-volume {
  width: 50px;
  cursor: pointer;
}

.player__sound {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* //////////////////////////////////////////////////// */

.lang {
  margin: 0 auto 10px auto;
  width: fit-content;
  display: flex;
  cursor: pointer;
  left: 2%;
  bottom: 1.5%;
  border-radius: 25%;
  background-color: rgba(230, 220, 220, 0.973);
  color: black;
}

.lang__rus {
  padding: 5px 5px 5px 5px;
  border-radius: 30% 30% 30% 0;
}

.lang__eng {
  border-radius: 30% 30% 0 30%;
  padding: 5px 5px 5px 5px;
  transition: all 1s ease-in-out;
}

.lang__rus,
.lang__eng {
  background-color: rgb(104, 72, 72);
  color: #fff;
}

.lang_active {
  background-color: rgba(230, 220, 220, 0.973);
  color: black;
  transition: all 1s ease-in-out;
}

/* //////////////////////////////////////////////////////////// НАСТРОЙКИ */

.settings__button {
  padding: 5px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 5%;
  display: flex;
  cursor: pointer;
}

.settings__dot {
  width: 5px;
  height: 5px;
  margin: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* //////////////////////////////////////////////////// */

.settings {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  min-height: 200px;
  border-radius: 5%;
  background-color: #fff;
}

.settings_active {
  display: block;
}

.images {
  margin-bottom: 30px;
}

.images__items {
  width: fit-content;
  display: flex;
  border-radius: 30%;
  margin: 10px auto;
  background-color: rgb(104, 72, 72);
  cursor: pointer;
}

.image__item {
  border-radius: 30%;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(104, 72, 72);
}

.image__item:first-child,
.image__item:last-child {
  border-radius: 30% 30% 30% 30%;
}

.image__item_active {
  color: #000;
  background-color: rgba(230, 220, 220, 0.973);
}

.images__tags {
  margin: auto;
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  border: none;
  border-top: 1px solid rgba(230, 220, 220, 0.973);
  border-bottom: 1px solid rgba(230, 220, 220, 0.973);
  transition: 0.5s;
}

.images__tags_active {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

.images__tags:focus {
  outline: none;
  border-top: 1px solid rgb(104, 72, 72);
  border-bottom: 1px solid rgb(104, 72, 72);
}

/* ////////////////////////////////////////// */

.visibility {
  margin: 0 30px;
}

.visibility__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.visibility__item {
  width: 30%;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}

.visibility__content {
  width: fit-content;
  margin: auto;
  border-radius: 15%;
  color: #fff;
  padding: 3px;
  font-size: 14px;
  background-color: rgb(104, 72, 72);
}

.visibility__content_active {
  color: #000;
  background-color: rgba(230, 220, 220, 0.973);
}

/* ////////////////////////////////////////////// */

@media (max-width: 540px) {
  .settings {
    top: 55%;
    left: 75%;
    min-width: 250px;
  }

  .settings__button {
    top: 83%;
    left: 75%;
  }

  .visibility__item {
    width: 50%;
  }
}
